@model HashSet<Movie>

@{
	string listMode = ViewBag.ListMode;



	ViewData["Title"] = listMode switch
	{
		"List" => "Liste de films",
		"Detail" => "Détails d'un film",
		_ => "Liste de films"
	};
}


<div class="d-flex">
	<h1>Liste des films</h1>
	<a asp-action="Create" class="btn btn-success ms-auto">+ Ajouter</a>
</div>
<hr />
<table class="table table-striped">
	<thead>
		<tr>
			@if (listMode == "Details")
			{
				<th>
				</th>
			}
			<th>
				@Html.DisplayNameForInnerType((Movie m) => m.Id)
			</th>
			<th>
				@Html.DisplayNameForInnerType((Movie m) => m.Nom)
			</th>
			<th>
				@Html.DisplayNameForInnerType((Movie m) => m.Genre)
			</th>
			<th>
				@Html.DisplayNameForInnerType((Movie m) => m.Duree)
			</th>
			<th>
				@Html.DisplayNameForInnerType((Movie m) => m.Realisateur)
			</th>
			<th>
				@Html.DisplayNameForInnerType((Movie m) => m.Statut)
			</th>
			<th>
				Actions
			</th>
			<th></th>
			@if (listMode == "List")
			{
				<th></th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var m in Model)
		{
			<tr>
				@if (listMode == "Details")
				{
					<td>
						<img src="https://eliteai.tools/tool/this-person-does-not-exist/go"
							 alt="ThisPersonDoestExist profil pic"
							 width="100">
					</td>
				}
				<td>
					@m.Id
				</td>
				<td>
					@m.Nom
				</td>
				<td>
					@m.Genre
				</td>
				<td>
					@m.Duree
				</td>
				<td>
					@m.Realisateur
				</td>

				@* Gestion du bouton A voir / Vu (visionné) *@
				<td>
					@* @m.Statut *@
					@* <a button id="movie-status" movieSeen="false">xxx</a> *@

					@if (@m.Statut == "À voir")
					{
						<a class="btn btn-success" asp-action="ChangeStatut" asp-route-id="@m.Id">À_voir</a>
					}
					else
					{
						<a class="btn btn-outline-secondary" asp-action="ChangeStatut" asp-route-id="@m.Id">Vu</a>

					}
				</td>

				@* Gestion du bouton Détails - pas affiché en affichage Liste *@
				@if (listMode == "List")
				{
					<td>
						<a class="btn btn-primary" asp-action="Details" asp-route-id="@m.Id">Détails</a>
					</td>
				}
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@m.Id">Editer</a>
				</td>
				<td>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@m.Id" onclick="return confirm('Voulez-vous vraiment supprimer le film @m.Nom ?')">Supprimer</a>
				</td>
			</tr>
		}
	</tbody>
</table>
